/* .popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 10px;
    height: 90vh;
}
.popular h1{
    color: #171717;
    font-size:50px;
    align-items:center;
    font-weight:600;

}
.popular hr{
    width:200px;
    height:6px;
    border-radius: 10px;
    background:#252525;
}
.popular-items{
    margin-top:50px;
    display:flex;
    gap:20px;
} */
/*.popular {
    display: flex;
    flex-wrap: nowrap;
overflow-x: auto; Add this line to enable horizontal scrolling
  }
  
.popular h1 {
    margin-bottom: 20px;
    font-size:50px;
    align-items:center;
    font-weight:600;

  }
.popular hr{
    width:200px;
    height:6px;
    border-radius: 10px;
    background:#252525;
}
  
  .popular-item {
    display: flex;
    gap: 20px;
  }*/
  .popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .popular h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .popular hr {
    width: 80%;
    margin: 0 auto 20px auto;
  }
  
  .popular-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: bottom 20px; */
  }
  
  .popular-item .item {
    flex-basis: calc(25% - 20px); /* Adjust as needed based on the number of items you want per row */
    margin: 10px;
    text-align: center;
  }
  
  .popular-item .item img {
    max-width: 100%;
    height: auto;
  }
  
  .popular-item .item h3 {
    margin-bottom: 10px;
  }
  
  .popular-item .item .price {
    font-weight: bold;
  }
  

  